# Discord OAuth
DISCORD_CLIENT_ID=1493997261452218520
DISCORD_CLIENT_SECRET=gWICXJDAr93KL7LI7owO_-D97cFZKjTd

# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=NEXTAUTH_SECRET=4Y0QvD6hV8w9tX1nP3sK7bN5aF2rM8cL

# Bot API URL (Render URL ของ Bot)
BOT_API_URL=https://ticket-bot-2wj2.onrender.com
BOT_API_SECRET=8d3f9c2a7e1b4f5g6h7i8j9k

# Discord Guild ID
GUILD_ID=1512837517890682930

# Staff Role ID (เฉพาะคนที่มี role นี้ถึงเข้า Dashboard ได้)
STAFF_ROLE_ID=1512850415077691584
